name: iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build (Simulator)
        run: |
          xcodebuild \
            -project ModoCoche.xcodeproj \
            -scheme "ModoCoche" \
            -destination "platform=iOS Simulator,name=iPhone 15" \
            -configuration Debug \
            clean build
